*{
  font-family: 'Solway', serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #e2ede9 !important;
}
.header {
  position: relative;
  height: 979px;
  width: 100%;
  -webkit-background-size: cover;
  background: url(./img/forHome.jpg) no-repeat center
    center;
  background-size: cover;
}

.overlay {
  height: 979px;
  width: 1920px;
  background: rgb(0, 0, 0, 0.5);
  position: absolute;
}
a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
}

/*!========= navbar start ============= */

.container1 {
  width: 100%;
}

.block1 {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.header1 {
  border-radius: 60%;
  width: 1200px;
  height: 100px;
  background-color: #ff9a00;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 3px 0px 24px -7px black;
}

.header_logo1 {
  display: flex;
  align-items: center;
  letter-spacing: 1px;
  color: #353535;
}

.header_logo1 img {
  width: 90px;
  /* height: 55px; */
}

.header_center1 ul {
  display: flex;
  justify-content: space-between;
  width: 400px;
  list-style-type: none;
}

.search-box1 {
  background: #e2ede9;
  padding: 16px 0;
  height: 15px;
  border-radius: 40px;
  display: flex;
  align-items: center;
}

.search-btn {
  color: #022417;
  float: right;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background: #e2ede9;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.search-box1:hover > .search-txt {
  width: 180px;
  padding: 0 6px;
}

.search-box1:hover > .search-btn {
  background-color: #033723a3;
}

.search-txt {
  border: none;
  background: none;
  outline: none;
  padding: 0;
  color: rgb(6, 6, 6);
  font-size: 16px;
  width: 0px;
  transition: 0.4s;
  line-height: 40px;
}

#open-admin {
  width: 30px;
  height: 30px;
  background-size: 80% 80%;
  border: 1.5px solid black;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(https://icons.veryicon.com/png/o/miscellaneous/yuanql/icon-admin.png);
}

/* ? =============NAVBAR END========== */

/* ! CREATE START */

.section__add {
  margin-top: 20px;
  font-family: system-ui;
  display: none;
}
.section__add div {
  margin: 0 auto;
  width: 30%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  box-shadow: 8px 0px 17px 0px rgba(111, 116, 120, 0.2);
}
.accordion__header {
  border-radius: 10px 10px 0 10px;
  padding: 5px 20px 5px 10px;
  display: flex;
  align-items: center;
  position: relative;
  border: 1px solid rgb(133, 132, 132);
  cursor: pointer;
  line-height: 1.25rem;
  font-size: 1.1rem;
  background-color: white;
}
.accordion__header::after {
  content: "\002B";
  position: absolute;
  right: 1rem;
}
.accordion__header .active::after {
  content: "\2212";
}

#accordion__body {
  background-color: rgba(111, 116, 120, 0.15);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.6s ease-out;
}
#accordion__body input {
  margin: 2px 0 2px 0;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px 5px 0 5px;
  font-family: system-ui;
}
#accordion__body button {
  border: 1.5px solid rgb(133, 132, 132);
  border-radius: 5px 5px 0 5px;
  font-family: system-ui;
  font-size: 15px;
}
/* ? CREATE END */

/* ! READ START */

#section__read {
  margin: 0 auto;
  width: 85%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
}
.card {
  margin: 55px;
  border: 1px solid #cddfcb;
  width: 25%;
  /* height: 300px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #00000005;
  justify-content: space-between;
}

.card h2 .card p {
  margin: 0;
}

.card2 {
  margin: 20px 20px;
  width: 90%;
  height: 200px;
  position: relative;
  perspective: 1000px;
  border: none;
}
.front2,
.back2 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  transition: 1s;
  backface-visibility: hidden;
  border-radius: 10px;
  box-sizing: border-box;
  -webkit-box-shadow: 11px 17px 42px -6px rgba(34, 60, 80, 0.69);
  -moz-box-shadow: 11px 17px 42px -6px rgba(34, 60, 80, 0.69);
  box-shadow: 11px 17px 42px -6px rgba(255, 255, 255, 0.69);
}

.front2 {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: white;
}
.back2 {
  background-color: #e2ede9;
  transform: rotateY(180deg);
  border: 1px solid #cddfcb;
}
#card_details2 {
  width: 98%;
  height: 100%;
  background-color: #e2ede9;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.text{
  color:black
}
.card_details2 p {
  width: 90%;
}
#details {
  box-sizing: border-box;
  width: 90%;
}
.card2:hover .front2 {
  transform: rotateY(180deg);
}
.card2:hover .back2 {
  transform: rotateY(360deg);
}

.text {
  font-family: "Comfortaa", cursive;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.text span {
  font-size: 15px;
}

.text h2 {
  margin: 10px;
}

.userIcon {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 28%;
  background-color: white;
  border: 1px solid white;
  border-radius: 10px ;
}
.userIcon img {
  height: 30px;
}
.btnBuy,
.paginate button {
  border: 1px solid white;
  margin: 10px;
  height: 40px;
  min-width: 120px;
  border-radius: 9999px;
  background-color: rgb(18 70 58);
  color: white;
  font-family: "Comfortaa", cursive;
  font-size: 16px;
}
#admin {
  display: none;
}
